body {
  overflow-x: hidden;
  background-color: #000;
}

.word-cloud {
  position: absolute;
  margin-top: 50px;
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: sans-serif;
  line-height: 2vw;
  min-height: 90%;
  border: 5px solid #6ec8d2;
  background: #0093ff30;
  box-shadow: 0px 0px 30px 0px #becedc;
  padding: 30px 5px;
}

.word-cloud span {
  position: relative;
  font-size: calc(6vw / (var(--i) + 1) + 2vh);
  margin-top: -1rem;
  animation: enter 3s ease-in-out, pulse 3s ease-in-out infinite;
  color: white;
  font-family: 'Indie Flower', cursive;
  filter: hue-rotate(var(--i)deg);
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.5, 1.5, 1.5, 1, 0.5);
  opacity: 0;
  margin: 15px;
}

.word-cloud span:nth-child(n) {
  transform: rotate(15deg);
}

.word-cloud span:nth-child(2n) {
  transform: rotate(-25deg);
}

.word-cloud span:nth-child(3n) {
  transform: rotate(45deg);
}

.word-cloud span:nth-child(4n) {
  transform: rotate(165deg);
}

.word-cloud span:nth-child(5n) {
  transform: rotate(345deg);
  font-size: 20px;
}

.word-cloud span:nth-child(6n) {
  transform: rotate(20deg);
}

.word-cloud span:nth-child(7n) {
  transform: rotate(330deg);
}

@keyframes enter {
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 1050px) {
  .word-cloud {
    width: 80%;
    margin-left: 6%;
    line-height: 6vw;
  }
}